.search {
  margin-bottom: 0;
  margin-left: 1%;
  display: inline;
}

.searchInput {
  margin-left: 1%;
  width: 30%;
}

.searchButton {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

.list {
  border: 1px solid rgb(100, 100, 100);
  margin: 3px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.page {
  margin-left: 1%;
  display: inline;
}

.nextPage {
  cursor: pointer;
  color: rgb(48, 25, 175);
}

.pageInput {
  margin-left: 1%;
  width: 15%;
}

.changePageButton {
  cursor: pointer;
  background-color: white;
}

.flagBox {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag {
  max-width: 100%;
  max-height: 100%;
  border-style: outset;
}

.name {
  margin-bottom: 0;
  font-weight: bold;
  color: rgb(100, 84, 11);
  font-size: 26px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.code {
  font-size: 14px;
  margin-bottom: 0;
}

.language {
  font-size: 14px;
  margin-bottom: 0;
}

.altSpell {
  font-size: 14px;
  margin-bottom: 0;
  display: inline;
}

.areaCode {
  font-size: 14px;
  margin-bottom: 0;
}

.sort {
  margin-bottom: 0;
  display: inline;
}

.sortChoose {
  cursor: pointer;
  color: blue;
}
